<div class="crm-container">
  <h1 crm-page-title>{{ts('GoCardless settings')}}</h1>

  <form name="myForm" crm-ui-id-scope>
    <div class="messages help">
      <p ng-bind-html="ts('Please see <a %1>reference documentation</a> for these settings',
          {1: 'href=&quot;https://docs.civicrm.org/gocardless/en/latest/reference/settings/&quot; target=&quot;_blank&quot; rel=&quot;noopener noreferrer&quot;'})"></p>
    </div>

    <div class="crm-block crm-form-block">
      <div class="crm-section">
        <div class="label"><label crm-ui-for="myForm.forceRecurring">Force Recurring</label></div>
        <div class="content">
          <label>
            <input
              type="checkbox"
              crm-ui-id="myForm.forceRecurring"
              name="forceRecurring"
              ng-model="gcSettings.forceRecurring"
              class="crm-form-checkbox"
            />
            &nbsp; {{ts('Force recurring contributions when a GoCardless payment processor is chosen')}}
          </label>
        </div>
      </div>

      <div class="crm-section">
        <div crm-ui-field="{name: 'myForm.sendReceiptsForCustomPayments', title: ts('Receipts')}">
          <select
            crm-ui-id="myForm.sendReceiptsForCustomPayments"
            ng-model="gcSettings.sendReceiptsForCustomPayments"
            name="sendReceiptsForCustomPayments"
            class="crm-form-select"
          >
            <option value="never" >{{ts('Never send receipts')}}</option>
            <option value="always" >{{ts('Always send receipts')}}</option>
            <option value="defer" >{{ts('Defer to Contribution Recur record’s <code>is_email_receipt</code> field')}}</option>
          </select>
          <p>Whether to send receipts for non-Contribution-Page-created recurring contributions</p>
        </div>
      </div>

      <div class="crm-section">
        <div crm-ui-field="{name: 'myForm.daysOfMonth', title: ts('Allowed days of month')}">
          <select
            crm-ui-id="myForm.daysOfMonth"
            ng-model="gcSettings.daysOfMonth"
            name="daysOfMonth"
            class="crm-form-select"
            multiple
            size="15"
          >
            <option ng-repeat="item in gcDaysOfMonth" value="{{item.key}}">{{item.value}}</option>
          </select>
          <p>The allowed days of the month. Set to "auto" for the next available date or "last" for the last day of the month.
            <br/><em>This only works if "Force Recurring" is enabled and "Monthly" or "Yearly" is selected.</em>
          </p>
        </div>
      </div>

    </div>

    <div>
      <button ng-click="$ctrl.save()">{{ts('Save')}}</button>
    </div>
    <h2>Active Payment processors</h2>

    <div ng-repeat="pp in ppList" >
      <div style="color: #840;">
        <h3><strong>Test</strong>: {{pp.name}}</h3>
        <label for="{{'urlTest' + pp.id}}">Test webhook URL</label>
        <input style="color: #840;" readonly type=text id="{{'urlTest' + pp.id}}" value="{{pp.test.url}}" />

        <label for="{{'urlTest' + pp.id}}">Test webhook secret</label>
        <input style="color: #840;" readonly type=text id="{{'urlTest' + pp.id}}" value="{{pp.test.pp.signature}}" />
      </div>

      <div style="color: #048">
        <h3><strong>Live</strong>: {{pp.name}}</h3>
        <label for="{{'urlLive' + pp.id}}">Live webhook URL</label>
        <input style="color: #048" readonly type=text id="{{'urlLive' + pp.id}}" value="{{pp.live.url}}" />

        <label for="{{'urlLive' + pp.id}}">Live webhook secret</label>
        <input style="color: #048" readonly type=text id="{{'urlLive' + pp.id}}" value="{{pp.live.pp.signature}}" />
      </div>
    </div>

  </form>

</div>
